{% extends 'eventos/base.html' %}

{% block title %}Detalle del Evento{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="mb-4">{{ evento.nombre }}</h2>
    <p>{{ evento.descripcion }}</p>

    {% if es_autor %}
        <a href="{% url 'enviar_trabajo' evento.id %}" class="btn btn-primary mb-3">
            <i class="fas fa-upload"></i> Enviar Trabajo
        </a>
    {% endif %}

    {% if es_organizador %}
        <a href="{% url 'personalizar_evento' evento.id %}" class="btn btn-secondary mb-3">
            <i class="fas fa-edit"></i> Editar Evento
        </a>
    {% endif %}

    <h3>Trabajos</h3>
    <ul class="list-group">
        {% for item in trabajos_con_revisiones %}
        <li class="list-group-item">
            <h5>{{ item.trabajo.titulo }} - <small>{{ item.trabajo.autor.username }}</small></h5>
            <p>{{ item.trabajo.resumen }}</p>
            <a href="{{ item.trabajo.archivo.url }}" class="btn btn-info btn-sm" target="_blank">
                <i class="fas fa-file-download"></i> Descargar Trabajo
            </a>
            {% if es_revisor and item.tiene_revision %}
                <a href="{% url 'gestionar_revision' item.revision_id %}" class="btn btn-primary btn-sm">
                    <i class="fas fa-edit"></i> Revisar
                </a>
            {% endif %}
            {% if es_organizador %}
                <a href="{% url 'asignar_revisores' evento.id item.trabajo.id %}" class="btn btn-secondary btn-sm">
                    <i class="fas fa-user-plus"></i> Asignar Revisores
                </a>
                <div class="mt-2">
                    <h6>Revisiones:</h6>
                    <ul>
                        {% for revision in item.revisiones %}
                            <li>
                                Revisor: {{ revision.revisor }} - Puntuación: {{ revision.puntuacion }} - Comentarios: {{ revision.comentarios }} - Fecha: {{ revision.fecha_revision }}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
